<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">

    <testsuites>
        <testsuite name="Design Patterns">
            <directory suffix="Test.php">test</directory>            
        </testsuite>
    </testsuites>
    <logging>        
        <log type="coverage-php" target="build/cov/coverage.cov"/>        
    </logging>
    <filter>
        <blacklist>
            <directory>./vendor</directory>
            <directory>./build</directory>
        </blacklist>
    </filter>
</phpunit>
