<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Travis Learn">
            <directory suffix="Test.php">test</directory>            
        </testsuite>
    </testsuites>
    <logging>        
        <log type="coverage-clover" target="build/clover.xml"/>
        <log type="coverage-crap4j" target="build/crap4j.xml"/>
        <log type="coverage-html" target="build/report.html"/>
        <log type="coverage-text" target="build/text.txt"/>
        <log type="coverage-xml" target="build/report.xml"/>
    </logging>
    <filter>
        <blacklist>
            <directory>./vendor</directory>
            <directory>./build</directory>
        </blacklist>
    </filter>
</phpunit>

