<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Travis Learn">
            <directory suffix="Test.php">test</directory>            
        </testsuite>
    </testsuites>
    <logging>        
        <log type="coverage-clover" target="build/report.xml"/>
    </logging>
    <filter>
        <blacklist>
            <directory>./vendor</directory>
            <directory>./build</directory>
        </blacklist>
    </filter>
</phpunit>